<div class="picker">
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  <ion-img
    role="button"
    (click)="onPickLocation()"
    class="location-image"
    [src]="selectedLocationImage"
    *ngIf="selectedLocationImage"
  ></ion-img>
  <ion-button
    *ngIf="!selectedLocationImage && !isLoading"
    color="primary"
    (click)="onPickLocation()"
    ><ion-icon name="map" slot="start"></ion-icon>
    <ion-label>Select Location</ion-label></ion-button
  >
</div>
