<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="'/places/tabs/offers' + place.id">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateOffer(editForm)">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form #editForm="ngForm" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              [ngModel]="place?.title"
              name="title"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea
              [ngModel]="place?.description"
              required
              name="description"
              rows="3"
              #descriptionCtrl="ngModel"
            >
            </ion-textarea>
          </ion-item>
          <ion-item
            *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched"
            lines="none"
          >
            <ion-text color="danger"
              >Description Must be between 1 and 180 characters.</ion-text
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="!editForm.get('description').valid && editForm.get('description').touched">
            <ion-col size-sm="6" offset-sm="3">
              <ion-text color="danger">Description Must be between 1 and 180 characters.</ion-text>
            </ion-col>
          </ion-row> -->
    </ion-grid>
  </form>
</ion-content>
