<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="!isLoading && (!loadedBookings || loadedBookings.length <= 0)"
      >
        <p text-center>No Bookings Found</p>
      </ion-col>

      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="!isLoading && loadedBookings && loadedBookings.length > 0"
      >
        <ion-list>
          <ion-item-sliding
            *ngFor="let booking of loadedBookings"
            #slidingBooking
          >
            <ion-item>
              <ion-avatar slot="start">
                <ion-img [src]="booking.placeImage"></ion-img>
              </ion-avatar>
              <ion-label>
                <h5>{{ booking.placeTitle }}</h5>
                <p>Guests: {{ booking.guestNumber }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                color="danger"
                (click)="onCancelBooking(booking.id, slidingBooking)"
              >
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
